.income-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.expenses-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.graph-container {
    background: #fff;
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.877);
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.87);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.877);
    margin-bottom: 5%;
}
.details-container {
    background: #fff;
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.877);
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.87);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.877);
    margin-bottom: 5%;
}
.budget {
    padding: 5%;
}
.budget-income {
    border-bottom: 1px solid lightgreen;
    border-top: 1px solid lightgreen;
}
.bottom-budget {
    margin-right: 5%;
}
.budget-builder {    
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    overflow: scroll;
    max-height: 85vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.budget-button{
    -webkit-box-shadow: 0 6px 4px -4px black;
    -moz-box-shadow: 0 6px 4px -4px black;
    box-shadow: 0 6px 4px -4px black;
}