.form-block {
    background: #fff;
    padding: 60px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); }
  
.content .bg {
    background-size: cover;
    background-position: center; }
  
.content .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px; }
  
.content .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; }
  
.content .btn-pill {
    border-radius: 30px; }